
<div class="container">
  <form action="/action_page.php">
    <div class="row">
      <div class="col-25">
        <label for="fname">Unit name	</label>
      </div>
      <div class="col-75">
        <input type="text" id="fname" name="firstname" placeholder="Your name..">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="lname">Unit symbol	</label>
      </div>
      <div class="col-75">
        <input type="text" id="lname" name="lastname" placeholder="Your last name..">
      </div>
    </div>

    <div class="row">
        <div class="col-25">
          <label for="lname">Quantity name	        </label>       </div>
        <div class="col-75">
          <input type="text" id="Quantityname" name="Quantityname" placeholder="Enter Quantityname..">
        </div>
      </div>

    <div class="row">
      <div class="col-25">
        <label for="country">Quantity symbol		</label>
      </div>
      <div class="col-75">
        <input type="text" id="Quantitysymbol" name="Quantitysymbol" placeholder="Enter Quantitysymbol..">
      </div>

      <!--<div class="col-75">
        <select id="country" name="country">
          <option value="australia">Australia</option>
          <option value="canada">Canada</option>
          <option value="usa">USA</option>
        </select>
      </div> -->
    </div>
    <div class="row">
      <div class="col-25">
        <label for="subject">Dimension symbol  </label>
      </div>
      <div class="col-75">
        <input type="text" id="Quantitysymbol" name="Quantitysymbol" placeholder="Enter Quantitysymbol..">
      </div>
      <!--
      <div class="col-75">
        <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
      </div> -->
    </div>
    
       <div class="row">
      <div class="col-25">
      </div>
      <div class="col-75">
        <button for="save">SAVE</button>
      </div>
    </div>
    
        
  </form>
</div>