<div> <a (click)="unitClose()" style="color: #fff;float: left;"><i class="fas fa-chevron-left left-arrow"></i></a></div>
<br/>
<div class="container">
  <form
    name="unitForm"
    (submit)="unitForm.form.valid && addUnit()"
    #unitForm="ngForm"
    novalidate>
    <div class="row">
      <div class="col-25">
        <label for="fname">Unit name	</label>
      </div>
      <div class="col-75">
        <input type="text" name="unitname"
        [(ngModel)]="model.unitname"
        #unitname="ngModel"
        id="unitname" 
        name="unitname"
        required
        placeholder="Enter Unit..">

        <p
        class="font-sm my-1 text-danger"
        [ngStyle]="{
          visibility:
            unitForm.submitted && !unitname.valid ? 'visible' : 'hidden'
        }"
      >
        Required
      </p>
      
      </div>
    </div>
  

    <div class="row">
      <div class="col-25">
        <label for="lname">Unit symbol	</label>
      </div>
      <div class="col-75">
        <input type="text" name="unitsymbol"
        [(ngModel)]="model.unitsymbol"
        #unitsymbol="ngModel"
        id="unitsymbol" 
        name="unitsymbol" 
        placeholder="Enter Unit Symbol..">
      </div>
    </div>

    <div class="row">
        <div class="col-25">
          <label for="lname">Quantity name	        </label>       </div>
        <div class="col-75">
          <input type="text" name="quantityname"
          [(ngModel)]="model.quantityname"
          #quantityname="ngModel"
          id="quantityname" 
          name="quantityname" 
          placeholder="Enter Quantity Name..">
        </div>
      </div>

    <div class="row">
      <div class="col-25">
        <label for="country">Quantity symbol		</label>
      </div>
      <div class="col-75">
        <input type="text" name="quantitysymbol"
        [(ngModel)]="model.quantitysymbol"
        #quantitysymbol="ngModel"
        id="quantitysymbol" 
        name="quantitysymbol" 
        placeholder="Enter Quantity Symbol..">
      </div>

    </div>
    <div class="row">
      <div class="col-25">
        <label for="subject">Dimension symbol  </label>
      </div>
      <div class="col-75">
        <input type="text" name="dimensionsymbol"
        [(ngModel)]="model.dimensionsymbol"
        #dimensionsymbol="ngModel"
        id="dimensionsymbol" 
        name="dimensionsymbol" 
        placeholder="Enter Dimension Symbol..">
      </div>
      <!--
      <div class="col-75">
        <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
      </div> -->
    </div>
    <br/>

    <div class="row">
      <div class="col-25"></div>
      <div class="col-75">
        <button for="save" class="save-button">SAVE</button>

      </div>
    </div>
    
        
  </form>
</div>