@import "_base";

.table {
	color:white !important;
    font-family: "Open Sans" !important;
    width: 100%;
}

.table td, .table th {
    margin: 0;
	border: none;padding-bottom: 12px;
	text-align: left;
	border-spacing: 10px !important;
    padding: 10px !important;

}

.tbody{
	background-color: #1A2D39;
	overflow: visible;
    position: absolute;
    width: 1557.6px;
    height: 76px;
    left: 0px;
    top: 76px;
  }

  *{
    color: white;
    }
    .purchase-text {
        float: left;
    }
    
    #customers th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #17252E;
      color: white;
    }
    #customers tr {
        background-color: #1B2D39;
        height: 2rem;
    }
    .addpurchase-btn{
        float: right;
    }
    body {background-color: #16222B;}
    
    #addpurchase-btn{
        width: 60%;
        height: 1.9rem;
        background: #1585A2;
        border: none;
        border-radius: 20px;
        margin: 1rem;
    }
    
    .grid-container {
      display: grid;
      grid-template-columns: auto auto auto auto auto;
      grid-gap: 10px;
      padding: 10px;
    }
    #select-box{
      background-color: #17252E;
      border: none;
    }

::ng-deep body {
    background-color: rgba(21,34,43,1);
}
tr {
    border-top: 10px solid #15222b;
    height: 70px;
}
#Purchase_Orders {
    position: absolute;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: rgba(255,255,255,1);
}
button {
    overflow: visible;
    white-space: nowrap;
    text-align: left;
    font-family: Open Sans;
    font-style: normal;
    float: right;
    color: white;
    background: #1585A2;
    border: 1px solid #1585A2;
    border-radius: 20px;
    padding: 0.5rem;
    font-size: 14px;
    margin-left: 10px;
    cursor: pointer;
    text-align: center;

}

