
<div class="container-fluid" id="purchase-wrapper"> 
  <div class="row back-colr">
  <div class="container">
  <div><h3 style="float:left;">Purchase Orders</h3> 
  <button id="delete"  [disabled]="!isDeleteButton ? true:false" [ngStyle]="getDeleteButtonStyle()">
    <i class="fas fa-trash"></i>
</button>
       <button  [disabled]="!isCreateReturn ? true:false" class="create-button" [ngStyle]="getCreateReturnStyle()">
          Create Return
      </button>
      <button  [disabled]="!isCreateInvoice ? true:false" class="create-button" [ngStyle]="getCreateInvoiceStyle()">
        Create Invoice
    </button>

    <button  (click)="addPurchaseOrder()" [disabled]="isAddPurchaseOrder" class="create-button" [ngStyle]="getAddPurchaseOrderStyle()">
      <span class="fas fa-plus" style="font-size: 12px;"></span> Add Purchase Order 
  </button>
         
  </div>
  <table class="table m-t-25">
    <thead style="background-color: #17252F;">
      <tr>
	  <th><div class="custom-control custom-checkbox">
                  <input type="checkbox" class="" id="customCheck2">
                  <!-- <label class="custom-control-label" for="customCheck2"></label> -->
              </div></th>
        <th>Number</th>
        <th>Date</th>
        <th>Status</th>
		<th>Vendor</th>
        <th>Category</th>
        <th>Product Name</th>
		<th>Quantity</th>
        <th>Sub Total</th>
       </tr>
    </thead>
    <tbody>
      <tr style="background-color:#1A2D39" *ngFor="let item of purchaseOrderList; let i = index" 
      (mouseenter) ="mouseEnter(i,item.status)" 
      (mouseleave) ="mouseLeave(i,item.status)">
	  <td><div class="custom-control custom-checkbox">
                  <!-- <input type="checkbox" class="custom-control-input" id="customCheck2"> -->
                  <input type="checkbox" class="" id="customCheck2" 
                  (click)="rowSelected(i,item, $event.target.checked)">
               
              </div>
			  </td>
        <td>{{item.productcode}}</td>
        <td>{{item.date}}</td>
        <td>{{item.status}}</td>
		<td>{{item.vendorname}}</td>
        <td>{{item.categoryname}}</td>
        <td>{{item.productname}}</td>
		<td>{{item.qty}}</td>
        <td>{{item.subtotal}}
          <span *ngIf="isShowEditDelete[i]" class="fas fa-pen" 
          style="padding-right: 20px;"></span>
          <span *ngIf="isShowEditDelete[i]" class="fas fa-trash"></span>
        </td>
       </tr>
     </tbody>
  </table>
</div>
    </div>
  </div>
