<div class="table-responsive">
  <table class="table">
    <thead style="background-color: #17252F; font-family: Open Sans">
      <tr>
        <th>Numbers</th>
        <th>Date</th>
        <th>Status</th>
        <th>Vendor</th>
        <th>Category</th>
        <th>Product Name</th>
        <th>Quantity</th>
        <th>Sub Total</th>
      </tr>
    </thead>
    <tbody style="background-color:#1A2D39;">
      <tr *ngFor="let item of purchaseOrderList; let i = index">
        <td>{{item.productcode}}</td>
        <td>{{item.date}}</td>
        <td>{{item.status}}</td>
        <td>{{item.vendorname}}</td>
        <td>{{item.categoryname}}</td>
        <td>{{item.productname}}</td>
        <td>{{item.qty}}</td>
        <td>{{item.subtotal}}</td>
      </tr>
    </tbody>
  </table>
</div>