* {
    font-family: 'Lato',Georgia,Arial,sans-serif;
    font-size:medium;
    color:white;
}
#cursor-pointer{
    cursor: pointer;
}
h2{
    font-size: 30px;
}
table.mat-table {
    width: 100%;
    border-spacing: 0;
    background-color: #181C20;
}
table th,td{
    border: 1px solid black;
}
mat-paginator{
    width: 100%;
    background-color: #181C20;
}
.mat-elevation-z8{
    height: 250PX;
}
mat-form-field{
    background: white;
    width: 25%;
    height: 47px;
    border-radius: 10px;
}
.mat-elevation-z8{
    height: 230px;
    overflow-y: scroll;
}


#text-category{
    text-align: center;
    font-weight: bold;
}
#categoryhole-div{
    background: #282F37;
    width: 97%;
    height: 80%;
    margin-left: 10px;
}
#category{
    width: 100%;
    height: 92%;
    background: #1F2429;
}
#adddelete-div{
    background: #272E34;
    width: 90%;
    height: 18%;
    margin-left: 12px;
}
#categorylist-div{
    background: #272E34;
    color: white;
    margin-left: 21px;
    width: 84%;
    height: 70%;
    overflow-y: scroll;

}
#leftside-div{
    width: 100%;
    height: 92%;
    background: #1F2429;
}
.categorylist-alignment{
    text-align: center;
    cursor: pointer;
}
#button-printpage{
    height: 30px;
    width: 120px;
    border: 1px solid;
    margin-top: 10px;
}
.searchicon{
    font-family: fontawesome;
    font-size: 20px;
    height: 50%;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    color: black;
}
#icon-align{
    margin: 5px;
}
#editdelete-button{
    margin-left: 10px;
    cursor: pointer;
}
#editdelcategory-div{
    width: 180px;
    height: 340px;
    background: #272E34;
    margin: 30px;
    text-align: center;
}
#categoryname-div{
    width: 410px;
    height: 60px;
    background: #272E34;
}
#categorydesc-div{
    width: 410px;
    height: 150px;
    background: #272E34;
}
#fontsize-21{
    font-size: 21px;
}
#save-btn{
    width: 140px;
    height: 50px;
    background: #51AF57;
    border: none;
}
#cancel-btn{
    width: 140px;
    height: 50px;
    background: #FF0000;
    border: none;
}
#edit-del-text{
    font-size: 23px;
    margin: 8px;
}
/* Start Dialog Box Styles */
.modal-dialog {
    -webkit-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);
    margin: 0 auto;
    margin-left: 510px;
  }
.modal-content {
    overflow:hidden;
    height: 490px;
    width: 530px;
    margin-top: 235px;
    background-color: #434F5B;
}
  
#box-dialouge{
    width: 94%;
    height: 92%;
    background: #333C45;
    margin: 23px 0px 0px 15px;
}
#icon-font{
    font-size: 90px;
    padding-left: 30px;
    padding-top: 24px;
    color: white;
}
  #p-text{
    padding-left: 30px;
    font-size: 16px;
}
  /* End DialogBox Styles */
#selectbox-category{
    width: 50%;
    height: 35px;
    border: none;
    color: #636A70;
    background: #272E34;
    box-shadow: none;
}
.searchicon2{
    font-family: fontawesome;
    font-size: 20px;
    width: 50%;
    height: 30%;
    background: #272E34;
    border: none;
    box-shadow: none;
}
#dicountinput-box{
    width: 55px;
    height: 35px;
    text-align: end;
    background: #272E34;
    border: none;
    box-shadow: none;
}
#qtyinput-box{
    width: 55px;
    height: 35px;
    background: #272E34;
    border: none;
    box-shadow: none;
}
#rowedit-div{
    height: 30px;
    width: 30px;
    background: #267CB4;
    border-radius: 16px;
}
#rowview-div{
    height: 30px;
    width: 30px;
    background: #EF6956; 
    border-radius: 16px;
}
#rowedit-icon{
    margin: 5px;
    font-size: 20px;
}
#rowdelete-icon{
    margin: 5px;
    font-size: 20px;
}

 .mat-dialog-container{
    background: yellow;
}