<div class="row" id="categoryhole-div">
    <div class="col-12 col-sm-5 col-md-6  col-lg-3">
        <br/>
        <div id="category">
            <br/>
            <div id="adddelete-div">
                <h2 id="text-category">Category</h2>
                <div class="row" style="margin-left: 30px;">
                    <span>
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                        Add
                    </span>
                    &nbsp; &nbsp;
                    <span id="cursor-pointer" (click)="openDialog()">
                        <i class="fa fa-pencil-square" aria-hidden="true"></i>
                        Edit/Delete
                    </span>
                </div>
            </div>
            <br/>
            <div id="categorylist-div">
             <div *ngFor="let list of categorylist" (click)="categorydetails(list.number)" class="categorylist-alignment" id="{{ list.number }}">
                <p>{{ list.allproduct }}</p>
                <p>{{ list.discount }}</p>
                <p>{{ list.freegifts }}</p>
                <p>{{ list.fiber }}</p>
                <p>{{ list.pigmen }}</p>
                <p>{{ list.brush }}</p>
                <p>{{ list.sandpaper }}</p>
                <p>{{ list.hardware }}</p>
                <p>{{ list.accesories }}</p>
              </div> 
            </div>
        </div>

    </div>

<!--Leftside div start-->
    <div class="col-12 col-sm-7 col-md-6 col-lg-9">
    <br/>
    <div id="leftside-div">
        <div *ngIf="leftdetails">
            <div *ngIf="discountdetails">
                <div class="col-lg-12">

                 <br/>
                  <div class="row">
                        <div class="col-lg-5">
                            <h2>Discount Product</h2>
                            <div class="row"  id="editdelete-button">
                                <span (click)="addpromotion()">
                                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                    Add
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="row" id="button-printpage">
                                <i class="fa fa-print" aria-hidden="true" id="icon-align"></i>
                                &nbsp;&nbsp;
                                <p>Print Page</p>
                            </div>
                        </div>
                            <div class="col-lg-5">
                                 <input type="search" placeholder="&#xf002; search here" class="searchicon"/>
                            </div>
                    </div>

                    <br/>
                  
                    

                    <mat-form-field style="color: black;">
                        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                      </mat-form-field>
                      <mat-paginator [pageSizeOptions]="[1,2,5, 10, 25, 100]"></mat-paginator>
                    
						 <div class="mat-elevation-z8">
                        <table mat-table [dataSource]="dataSource" matSort>
                          <!-- ProductCode Column -->
                          <ng-container matColumnDef="Productcode">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Productcode </th>
                            <td mat-cell *matCellDef="let row"> {{row.Productcode}} </td>
                          </ng-container>
                      
                          <!-- Product Name Column -->
                          <ng-container matColumnDef="ProductName">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> ProductName </th>
                            <td mat-cell *matCellDef="let row"> {{row.ProductName}} </td>
                          </ng-container>

                           <!-- Discount Column -->
                           <ng-container matColumnDef="Discount">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> discount </th>
                            <td mat-cell *matCellDef="let row"> {{row.discount}} </td>
                          </ng-container>

                           <!-- discounttime Column -->
                           <ng-container matColumnDef="DiscountTime">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> discounttime </th>
                            <td mat-cell *matCellDef="let row"> {{row.discounttime}} </td>
                          </ng-container>

                           <!-- qty Column -->
                           <ng-container matColumnDef="Qty">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> qty </th>
                            <td mat-cell *matCellDef="let row"> {{row.qty}} </td>
                          </ng-container>

                          <!-- price Column -->
                          <ng-container matColumnDef="Price">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> price </th>
                            <td mat-cell *matCellDef="let row"> {{row.price}} </td>
                          </ng-container>

                          <!-- edit/delete Column -->
                          <ng-container matColumnDef="editdelete">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Edit/Delet </th>
                            <td mat-cell *matCellDef="let row"> 
                                <div class="row" style="margin: 10px;">
                                    <div id="rowedit-div">
                                        <i class="fa fa-pencil-square-o" id="rowedit-icon" aria-hidden="true"></i>    
                                    </div>  
                                    &nbsp;&nbsp;
                                    <div id="rowview-div">
                                        <i class="fa fa-trash-o" id="rowdelete-icon" aria-hidden="true"></i>    
                                    </div>   
                                 </div> 
                            </td>
                          </ng-container>
                      
                        
                          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                          <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                          </tr>
                        </table>
                    </div>
                      


                   <!-- <table>
                        <thead>
                            <tr style="background: #171B1E;">
                            <td>Product Code</td>
                            <td>Product Name</td>
                            <td>Discount</td>
                            <td>Discount Time</td>
                            <td>Qty</td>
                            <td>Price</td>
                            </tr>
                         </thead>
                         <tbody>
                            <tr *ngFor='let data of dataDiscountList'>
                                <td>{{ data.ProductCode }}</td>
                                <td>{{ data.ProductName }}</td>
                                <td>{{ data.discount }}</td>
                                <td>{{ data.discounttime }}</td>
                                <td>{{ data.qty }}</td>
                                <td>{{ data.prize }}</td>
                            </tr>
                         </tbody>
                    </table> -->

                </div>
            </div>
        </div>

        <div *ngIf="editdeletediv" >
            <label id="edit-del-text">
                <i class="fa fa-pencil-square" style="font-size: 23px;" aria-hidden="true"></i>
                &nbsp;
                Edit/Delete Category
            </label >
            <div class="row">
                <div class="col-lg-4">
                     <div id="editdelcategory-div">
                         <p>Resin</p>
                         <p>Carbon Fabric</p>
                         <p>Fiber</p>
                         <p>Pigmen</p>
                         <p>Brush</p>
                         <p>Sandpaper</p>
                         <p>Hardware</p>
                         <p>Accecories</p>
                     </div>
                 </div>
                 <div class="col-lg-7">
                     <br/>
                     <p id="fontsize-21">Category Name</p>
                     <div id="categoryname-div"></div>
                     <br/>
                     <p id="fontsize-21">Category Description</p>
                     <div id="categorydesc-div"></div>
                     <br/>
                     <div class="row">
                        <div class="col-lg-6">
                            <button id="save-btn">Save</button>
                        </div>
                        <div class="col-lg-6">
                            <button id="cancel-btn">Cancel</button>
                        </div>
                     </div>
                 </div>
            </div>

        </div>
    </div>

    </div>
    <!--Leftside div end-->
</div>

