@import "_base";

textarea,
input,
select {
  appearance: none;
  border: none;
  width: 100%;

  // &:disabled {
  background-color: $disabled-input-bg;
  color: $white;
  // }
}

textarea {
  height: 48px;
}

.three-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.max-height-adjust {
  max-height: 570px;
}
.employee-photo {
  width: 220px;
  height: 280px;
}
::ng-deep .mb-1,::ng-deep .my-1 {
  margin-bottom: .25rem!important;
  margin-left: 17%;
}
input{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid white;
  width: 75%;
  margin-left: 17%;
  height: 2rem;
  background-color: #243641;
  color: white;
}
textarea{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid white;
  width: 75%;
  margin-left: 17%;
  background-color: #243641;
  color: white;
}
input[type=text]:focus{
  border: 1px solid white;
  background-color: #243641;
  color: white;
}
::ng-deep .tab-content-bg{
  background-color: #243641;
}
#save-butn{
  background-color: #365880;
  border: 1px solid #796d6d;
  position: relative;
  margin: -20px -50px;
  border-radius: 4px;
  width: 85px;
  top: 50%;
  left: 10%;
  text-align: center;
  color: white;
}
#cancel-butn{
  background-color: #243641;
  border: 1px solid #796d6d;
  position: relative;
  margin: -20px -50px;
  border-radius: 4px;
  width: 120px;
  top: 50%;
  left: 55%;
  text-align: center;
  color: white;
}
.borders {
  border: none;
  width: 100%;
  padding: 5px 5px 50px 10px;
  /* background-color: #3C3F41; */
}
#update-butn{
  background-color: #365880;
  border: 1px solid #796d6d;
  position: relative;
  margin: -20px -50px;
  border-radius: 4px;
  width: 85px;
  top: 50%;
  left: 33%;
  text-align: center;
  color: white;
}
#delete-butn{
  background-color: #4C5052;
  border: 1px solid #796d6d;
  position: relative;
  margin: -20px -50px;
  border-radius: 4px;
  width: 85px;
  top: 50%;
  left: 80%;
  text-align: center;
  color: white;
}
#back-butn{
  background-color: #4C5052;
  border: 1px solid #796d6d;
  position: relative;
  margin: -20px -50px;
  border-radius: 4px;
  width: 85px;
  top: 50%;
  left: -35%;
  text-align: center;
  color: white;
}
#editback-butn{
  background-color: #4C5052;
  border: 1px solid #796d6d;
  position: relative;
  margin: -20px -50px;
  border-radius: 4px;
  width: 85px;
  top: 50%;
  left: -10%;
  text-align: center;
  color: white;
}