<form name="formReg">
  <div class="tab-content-bg p-3">
    <div class="row">
      <div class="col">
        <ng-container [ngSwitch]="true">
          <ng-container *ngSwitchCase="isEditMode">
            Edit Employee Detail
          </ng-container>
          <ng-container *ngSwitchCase="isAddNew">
            Add Employee
          </ng-container>
          <ng-container *ngSwitchDefault>
            Employee Detail
          </ng-container>
        </ng-container>
      </div>
      <div class="col px-3">
        <span class="row m-0">
          <ng-container [ngSwitch]="true">
            <ng-container *ngSwitchCase="isEditMode">
              <div class="borders">
                <button id="delete-butn" class="col btn-red transparent-border"
                  (click)="deleteEmployeeEmitter()">
                  <i class="fas fa-trash"></i>
                  Delete
                </button>
                &nbsp;&nbsp;
                <button id="update-butn" class="col btn-green transparent-border"
                  (click)="updateEmployee()">
                    <i class="fas fa-save"></i>
                    Save
                </button>
              </div>
            </ng-container>
            <ng-container *ngSwitchCase="isAddNew"
              ><span class="col px-2">
                <button
                  class="col btn-red transparent-border"
                  (click)="cancelAddNew()"
                >
                  <i class="fas fa-trash"></i>
                  Delete
                </button>
              </span>
              <span class="col px-2">
                <button
                  class="col btn-green transparent-border"
                  (click)="saveEmployee()"
                >
                  <i class="fas fa-save"></i>
                  Save
                </button>
              </span>
            </ng-container>
            <ng-container *ngSwitchDefault>
              <div class="borders">
                <button id="save-butn" (click)="toggleEditMode()">
                    <i class="fas fa-edit"></i>
                    Edit
                </button>
                &nbsp;&nbsp;
                <button id="cancel-butn" (click)="printPage(EmployeeDetail)">
                  <i class="fas fa-print"></i>
                  Print Page
                </button>
              </div>
            </ng-container>
          </ng-container>
        </span>
      </div>
    </div>
    <ng-container *ngTemplateOutlet="EmployeeDetail"></ng-container>
    <ng-template #EmployeeDetail>
      <div class="three-column max-height-adjust mt-3">
        <div
          *ngFor="
            let fieldLabel of fieldLabels | idFilter;
            trackBy: trackByIndex
          "
          class="mb-3 pr-4"
        >
          <div
            *ngIf="
              !(
                isAddNew &&
                (fieldLabel === 'code' ||
                  fieldLabel === 'doj' ||
                  fieldLabel === 'absentDedution')
              )
            "
            class="mb-1"
          >
            {{ ts.translate(fieldLabel) }}
          </div>
          <!-- Validation for photo and input fields -->
          <ng-container [ngSwitch]="true">
            <img
              *ngSwitchCase="fieldLabel === 'photo'"
              [src]="employee[fieldLabel]"
              alt="Employee Photo"
              class="employee-photo"
            />

            <textarea
              *ngSwitchCase="fieldLabel === 'address'"
              [placeholder]="ts.translate(fieldLabel)"
              [disabled]="!isAddNew && !isEditMode"
              class="p-1"
              [value]="employee[fieldLabel]"
              [(ngModel)]="employee[fieldLabel]"
              [ngModelOptions]="{ standalone: true }"
            >
            </textarea>

            <ng-container *ngSwitchDefault>
              <input
                *ngIf="
                  !(
                    isAddNew &&
                    (fieldLabel === 'code' ||
                      fieldLabel === 'doj' ||
                      fieldLabel === 'absentDedution')
                  )
                "
                type="text"
                [placeholder]="ts.translate(fieldLabel)"
                [value]="employee[fieldLabel]"
                [disabled]="
                  !isAddNew &&
                  (!isEditMode ||
                    fieldLabel === 'code' ||
                    fieldLabel === 'doj' ||
                    fieldLabel === 'absentDedution')
                "
                [(ngModel)]="employee[fieldLabel]"
                [ngModelOptions]="{ standalone: true }"
                class="p-1"
              />
            </ng-container>
          </ng-container>
        </div>
      </div>
    </ng-template>
  </div>
</form>
<div class="d-flex justify-content-center">
  <button class="px-5 m-3" (click)="backToEmployeesList()">
    Back
  </button>
</div>
