<!DOCTYPE html>
<div class="row">
<div class="container-fluid" id="purchase-wrapper"> 
  <div class="row back-colr">
  <div class="container">
  <div class="header-align"><h3 id="title">Sales Invoice List</h3> 
          
  </div>
  <div class="m-t-25 grid-align" style="position: absolute; top:60px; width: 98%;">
  <table class="table" id="poTable" style="margin-bottom: 0px !important; padding-top: 0px!important;">
    <thead id="table-head" style="position: absolute;
    top: 0px;">
      <tr>
	 
        <th class="wid-150px" style="cursor:pointer;">Number</th>
        <th class="wid-150px" style="cursor:pointer;">Date
          <i *ngIf="!isSortDateDesc" class="sort-by-desc" (click)="sortByOrder('date','desc')"></i>
          <i class="sort-by-asc" *ngIf="!isSortDateAsc" (click)="sortByOrder('date','asc')"></i>
        </th>
        <th class="wid-190px" style="cursor:pointer;">Status

        </th>
        <!-- <th onclick="w3.sortHTML('#poTable', '.purchase-order-row-open', 'td:nth-child(3)')" 
        style="cursor:pointer">Status<i class="sort-by-desc"></i></th> -->
        <th class="wid-190px">Product Name</th>
        <th class="wid-190px">Custome Name</th>
        <th class="wid-150px">Quantity</th>
        <th class="wid-190px">Unit Prize</th>

       
      

        <!-- <th id="action-header">Action</th> -->
       </tr>
    </thead>
    <tbody class="over-flo"> 
      <tr *ngFor="let item of salesList; let i = index" class="purchase-order-row-invoiced">
      
	 
        <td class="wid-150px" >{{item.invoiceNumber}}</td>
        <td class="wid-150px" >
          {{item.soDate }}</td>
        <td class="wid-190px">{{item.status}}
        </td>
		<td class="wid-190px">{{item.productName}}</td>
        <td class="wid-190px">{{item.customerName}}</td>
        <td class="txt-right wid-150px">{{item.quantity}}</td>
        <td class="txt-right wid-150px">{{item.unitPrice}} 
         
        </td>
        <!-- <td><span class="edit-delete-icon" *ngIf="isCheckedArr.length === 0 && item.status === 'Open'">
          
          <span class="fas fa-pen" (click)="addPurchaseOrder(item.id, item)"></span>
          <span class="fas fa-trash" (click)="removePurchaseOrder(item.id)"></span>
        </span></td> -->
       </tr>
     </tbody>
  </table>
</div>
</div>
    </div>
  </div>
</div>
