
<div class="container">
  <div class="row">
    <div class="col-4">
      <h4>Purchase Return List</h4> 
    </div>
    </div>

    <div class="row">
      <div class="col-12">
  <table class="table">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Hand Phone</th>
        <th>Email</th>
        <th>State</th>
        <th>Country</th>
        <th>Office Phone</th>
        <th>Salary</th>
        <th>Qualification</th>
        <th>Gender</th>
        <th>Status</th>
        <th>Location</th>
      </tr>
  </thead>
  <tbody *ngFor="let a of NAMES; let i = index"> 
      <tr>
        <td>{{a.id}}</td>
        <td>{{a.value1}}</td>
        <td>{{a.value2}}</td>
        <td>{{a.value3}}</td>
        <td>{{a.value4}}</td>
        <td>{{a.value5}}</td>
        <td>{{a.value6}}</td>
        <td>{{a.value7}}</td>
        <td>{{a.value8}}</td>
        <td>{{a.value9}}</td>
        <td>{{a.value10}}</td>
        <td>{{a.value11}}</td>
      </tr>
     
    </tbody>
  </table>
</div>
    </div>

</div>




