
@import "_base";

#table-outer-div{ 
  overflow-y: auto; 
  height: 75vh; 
}
#table-outer-div thead th { 
  position: sticky; 
  top: 0; 
}

/* Just common table stuff. Really. */
table  { 
  border-collapse: collapse; 
  width: 100%; 
}
th { 
  background:#17252F; 
}
th, td {
  text-align: left;
  padding: 8px;
}
thead {
  background-color: $table-header-bg;
}
tbody {
  background-color:$table-invoived-row-bg; 
}
.table>thead>tr>th{
  font-size: $table-font-size;
  border-top: 0px solid $main-bg;
  border-bottom:10px solid $main-bg;
  color:$table-header-font;
} 
.table>tbody>tr>td{
  font-size: $table-font-size;
  border-top:5px solid $main-bg;   
  color:$table-row-font-color;
}
.table > tbody > tr:hover {
  background-color: $header-bg;
}
.table > tbody > tr:hover, .table > tbody > tr:hover span  {
  background-color: $header-bg;
}
