<!--<a [routerLink]="['units']">Units</a> &nbsp; :: &nbsp;<a [routerLink]="['/addunits']">addunits</a>
-->

<div class="row">

  <div class="col-12">
  <button  (click)="addNewUnits()" class="create-button">
    <span class="fas fa-plus"></span> Units 
  </button>
</div>

</div>

<div class="row">

  <div class="col-12">





<h3>Unit List</h3> 

<div id="table-outer-div">
  <table class="table">
    <thead>
      <tr>
        <th>Unit name</th>
        <th>Unit symbol</th>
        <th>Quantity name</th>
        <th>Quantity symbol</th>
        <th>Dimension symbol</th>
      </tr>
  </thead>
  <tbody *ngFor="let a of unitlist; let i = index"> 
      <tr>
        <td>{{a.unitname}}</td>
        <td>{{a.unitsymbol}}</td>
        <td>{{a.quantityname}}</td>
        <td>{{a.quantitysymbol}}</td>
        <td class="txt-right wid-150px">{{a.dimensionsymbol}} 
          <span class="edit-delete-icon">
            <span class="fas fa-pen mar-let-40px" (click)="addPunitedit(a.id,a.unitname,a.unitsymbol,
            a.quantityname,a.quantitysymbol,a.dimensionsymbol)" ></span>
            <span class="fas fa-trash mar-let-30px" (click)="unitdelete(a.id)"></span>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</div>

</div>

