<header class="w-100 d-flex align-items-center justify-content-center">
  <h1 hidden>ERP</h1>
  <img src="assets/images/nrg_logo.png" class="img-fluid" alt="app logo" />
</header>
<div
  class="d-flex align-items-center justify-content-center login-page-main-container"
>
  <div class="login-form">
    <p class="font-lg title text-center">Employement Sign In</p>

    <form
      name="loginForm"
      (submit)="loginForm.form.valid && login()"
      #loginForm="ngForm"
      novalidate
    >
      <!-- <label for="userName"><i class="fas fa-user"></i></label> -->
      <input
        id="userName"
        type="text"
        class="form-control border-0"
        placeholder="Username/Email"
        name="currentusername"
        [(ngModel)]="model.currentusername"
        #currentusername="ngModel"
        required
        autofocus
      />
      <p
        class="font-sm my-1 text-danger"
        [ngStyle]="{
          visibility:
            loginForm.submitted && !currentusername.valid ? 'visible' : 'hidden'
        }"
      >
        Username is required
      </p>
      <!-- <label for="password"><i class="fas fa-lock"></i></label> -->
      <input
        id="password"
        class="form-control border-0"
        type="{{ passwordtype }}"
        placeholder="Password"
        id="typebox-with"
        name="currentpassword"
        [(ngModel)]="model.currentpassword"
        #currentpassword="ngModel"
        required
      />
      <p
        class="font-sm my-1 text-danger"
        [ngStyle]="{
          visibility:
            loginForm.submitted && !currentpassword.valid ? 'visible' : 'hidden'
        }"
      >
        Password is required
      </p>
      <div class="row m-0 mb-3 mt-1">
        <button class="col-6" type="submit">Sign In</button>
        <div class="col-6 text-right p-0">
          <input type="checkbox" checked="checked" id="remember" />
          <label for="remember" class="font-sm cursor-pointer"
            >Remember me</label
          >
          <p class="d-inline-block font-sm m-0">
            <a href="#">Forgot password?</a>
          </p>
        </div>
      </div>
    </form>
  </div>
</div>
