
<div class="row">
  <div class="column">
    <fieldset class="form-group"> 
      <div class="custom-file fileInputProfileWrap">
          <p class="error">{{imageError}}</p>
          <input type="file" (change)="fileChangeEvent($event)" class="fileInputProfile">
          <div class="img-space">   
            <ng-container *ngIf="isImageSaved; else elseTemplate">
                <img [src]="cardImageBase64" />
            </ng-container>
            <ng-template #elseTemplate> 
              <img id="imageplaceholder" src="./../../assets/images/placeholder.png" class="img-responsive"> 
            </ng-template>
          </div>
      </div>
    </fieldset>
    <a class="btn btn-danger" (click)="removeImage()" *ngIf="isImageSaved">Remove</a>

  </div>
  <div class="column">

    <label>Employee Name </label>
    <input type="text" name="name" id="textbox1" [(ngModel)]="this.model.name" 
      #name="ngModel" />

      <label>Employee Rank </label>
      <input type="text" name="rank" id="textbox2" [(ngModel)]="this.model.rank" 
        #rank="ngModel" />

        <label>Phone Number </label>
        <input type="text" name="phonenumber" id="textbox3" [(ngModel)]="this.model.phonenumber" 
          #phonenumber="ngModel" />


          <label>Employee Address </label>
          <input type="text" name="address" id="textbox4" [(ngModel)]="this.model.address" 
            #address="ngModel" />
      
            <label>Employee Email </label>
            <input type="text" name="email" id="textbox5" [(ngModel)]="this.model.email" 
              #email="ngModel" />
      
              <label>Date of Birth</label>
              <input type="text" name="dob" id="textbox6" [(ngModel)]="this.model.dob" 
                #dob="ngModel" />
     

  </div>
  <div class="column">
    
    <label>Contract Number </label>
    <input type="text" name="contractnumber" id="textbox7" [(ngModel)]="this.model.contractnumber" 
      #contractnumber="ngModel" />

      <label>NPWP Number </label>
      <input type="text" name="npwp" id="textbox8" [(ngModel)]="this.model.npwp" 
        #npwp="ngModel" />

        <label>Employee BPJS </label>
        <input type="text" name="bpjs" id="textbox9" [(ngModel)]="this.model.bpjs" 
          #bpjs="ngModel" />


          <label>Monthly Salary </label>
          <input type="text" name="monthlysalary" id="textbox10" [(ngModel)]="this.model.monthlysalary" 
            #monthlysalary="ngModel" />
      
            <label>Work Hour </label>
            <input type="text" name="workHour" id="textbox11" [(ngModel)]="this.model.workHour" 
              #workHour="ngModel" />
      
              
              <label>Annual Leave </label>
              <input type="text" name="annualLeave" id="textbox12" [(ngModel)]="this.model.annualLeave" 
                #annualLeave="ngModel" />

                <div> </div>

                <br/>
                <button>Add</button>

  </div>
</div>