<div class="container">
    <div class="row" style="margin: 15px;">
      <div class="col-30">
        <div class="row">
          <div>
              <fieldset class="form-group"> 
                <div class="custom-file fileInputProfileWrap">
                    <p class="error">{{imageError}}</p>
                    <input type="file" (change)="fileChangeEvent($event)" class="fileInputProfile">
                    <div class="img-space">   
                      <ng-container *ngIf="isImageSaved; else elseTemplate">
                          <img [src]="cardImageBase64" />
                      </ng-container>
                      <ng-template #elseTemplate> 
                        <img id="imageplaceholder" src="./../../assets/images/placeholder.png" class="img-responsive"> 
                      </ng-template>
                    </div>
                </div>
              </fieldset>
              <div class="row">
                  <div>
                      <a class="btn btn-danger" (click)="removeImage()" *ngIf="isImageSaved">Remove</a>
                  </div>
              </div>    
          </div> 
        </div>
      </div>

      <div class="col-60">
        <form name="employeeForm" (ngSubmit)="employeeForm.form.valid && saveEmployee()"
          #employeeForm="ngForm" id="form" novalidate>
          <div class="row">
            <h2 id="h2ID">Add Employee</h2>
          </div>
            <br/>

            <div class="row">
              <div class="col-45">
                  <label>Employee Name </label>
                  <input type="text" name="name" id="textbox" [(ngModel)]="this.model.name" 
                    #name="ngModel" />
              </div>
              <div class="col-45">
                  <label>Employee Rank </label>
                  <input type="text" name="rank" id="textbox1" [(ngModel)]="this.model.rank" 
                    #rank="ngModel" />
                </div>
            </div>

            <div class="row">
              <div class="col-45">
                <label>Phone Number </label>
                <input type="text" name="phonenumber" id="textbox" [(ngModel)]="this.model.phonenumber" 
                  #phonenumber="ngModel" />
              </div>
              <div class="col-45">
                <label>Employee Address </label>
                <input type="text" name="address" id="textbox1" [(ngModel)]="this.model.address" 
                  #address="ngModel" />
                </div>
            </div>

            <div class="row">
              <div class="col-45">
                <label>Employee Email </label>
                <input type="text" name="email" id="textbox" [(ngModel)]="this.model.email" 
                  #email="ngModel" />
              </div>
              <div class="col-45">
                <label>Employee DOB </label>
                <input type="text" name="dob" id="textbox1" [(ngModel)]="this.model.dob" 
                  #dob="ngModel" />
                </div>
            </div>

            <div class="row">
              <div class="col-45">
                <label>Contract Number </label>
                <input type="text" name="contractnumber" id="textbox" [(ngModel)]="this.model.contractnumber" 
                  #contractnumber="ngModel" />
              </div>
              <div class="col-45">
                <label>NPWP Number </label>
                <input type="text" name="npwp" id="textbox1" [(ngModel)]="this.model.npwp" 
                  #npwp="ngModel" />
                </div>
            </div>

            <div class="row">
              <div class="col-45">
                <label>Employee BPJS </label>
                <input type="text" name="bpjs" id="textbox" [(ngModel)]="this.model.bpjs" 
                  #bpjs="ngModel" />
              </div>
              <div class="col-45">
                <label>Monthly Salary </label>
                <input type="text" name="monthlysalary" id="textbox1" [(ngModel)]="this.model.monthlysalary" 
                  #monthlysalary="ngModel" />
                </div>
            </div>

            <div class="row">
              <div class="col-45">
                <label>Work Hour </label>
                <input type="text" name="workHour" id="textbox" [(ngModel)]="this.model.workHour" 
                  #workHour="ngModel" />
              </div>
              <div class="col-45">
                <label>Annual Leave </label>
                <input type="text" name="annualLeave" id="textbox1" [(ngModel)]="this.model.annualLeave" 
                  #annualLeave="ngModel" />
                </div>
            </div><br/>

            <div class="row">
                <div class="col-30"></div>
                <div class="col-50">
                    <button id="save-btn">Add</button>
                </div>
                <div class="col-20"></div>
            </div>
        </form>
      </div>
        
    </div>
</div>
        
    