<mat-tab-group>
  <mat-tab
    ><ng-template mat-tab-label>Employee List</ng-template>
    <app-employee-list></app-employee-list
  ></mat-tab>
  <mat-tab
    ><ng-template mat-tab-label>Add New Employee</ng-template>
    <app-employee-add></app-employee-add>
  </mat-tab>
  <mat-tab
    ><ng-template mat-tab-label>Absence</ng-template>
    <app-employee-absence></app-employee-absence
  ></mat-tab>
  <mat-tab
    ><ng-template mat-tab-label>Contract Template</ng-template>
    <app-employee-contract-template></app-employee-contract-template>
  </mat-tab>
  <mat-tab
    ><ng-template mat-tab-label>Employee Report</ng-template>
    <app-employee-report></app-employee-report
  ></mat-tab>
</mat-tab-group>
