<div  class="row">
    <div class="col-3"></div>
    <div  class="col-md-6  col-lg-5" style="height: 60px;">
        <app-employeealert></app-employeealert>
    </div>    
</div>

<div class="employee-content">
    <div class="row">
        <div class="col-lg-7">
    <div class="tab">
        <a class="tablink" style="border-bottom: 3px solid #007bff;color: #1664a7;width: auto;" id="defaultOpen">Employee Add</a>
        <a class="tablink" routerLink="../employeelist" style="width: auto;">Employee List</a>
    </div>
            
            <div id="addemployee-div">
                <br/><br/><br/><br/><br/>
              
                         
                  
                   
            
                    <!-- Default form contact -->
<form class="text-center border border-light p-4">

    <div class="form-row mb-4">
        <div class="col">
          <!-- First name -->
          <input type="text" id="defaultRegisterFormFirstName" class="form-control" placeholder="{{ employeeReg[0].code }}">
        </div>
        <div class="col">
          <!-- Last name -->
          <input type="text" id="defaultRegisterFormLastName" class="form-control" placeholder="{{ employeeReg[0].name }}">
        </div>

        <div class="col">
            <!-- Last name -->
            <input type="text" id="defaultRegisterFormLastName" class="form-control" placeholder="{{ employeeReg[0].email }}">
          </div>

       

      </div>



      <div class="form-row mb-4">
        <div class="col">
          <!-- First name -->
          <input type="text" id="defaultRegisterFormFirstName" class="form-control" placeholder="{{ employeeReg[0].dob }}">
        </div>
        <div class="col">
          <!-- Last name -->
          <input type="text" id="defaultRegisterFormLastName" class="form-control" placeholder="{{ employeeReg[0].rank }}">
        </div>

        <div class="col">
            <!-- Last name -->
            <input type="text" id="defaultRegisterFormLastName" class="form-control" placeholder="{{ employeeReg[0].phonenumber }}">
          </div>

       

      </div>


      <div class="form-row mb-4">
        <div class="col">
          <!-- First name -->
          <input type="text" id="defaultRegisterFormFirstName" class="form-control" placeholder="{{ employeeReg[0].mobilenumber }}">
        </div>
        <div class="col">
          <!-- Last name -->
          <input type="text" id="defaultRegisterFormLastName" class="form-control" placeholder="{{ employeeReg[0].emergencynumber }}">
        </div>

        <div class="col">
            <!-- Last name -->
            <input type="text" id="defaultRegisterFormLastName" class="form-control" placeholder="{{ employeeReg[0].address }}">
          </div>

       

      </div>
   
</form>
    
                    	
               
            </div>
                            
        </div>
    </div>
    <br/><br/><br/>
</div>


