
@import "_common";

  @media screen and (min-device-width: 320px) and (max-device-width: 767px){
  .back-colr{float:left;}
  body{font-size: 12px;}
  .table>thead>tr>th, .table>tbody>tr>td{font-size: 11px;}
  table>thead>tr>th>div.custom-control{position: relative;
    top: 17px;}
  }
  .over-flo{overflow-y: scroll !important; height: 340px; display: table-caption;
    position: absolute; top: 58px;}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
.table > tbody > tr:hover {
  background-color: $header-bg;
}

//.edit-delete-icon > invoice-view :hover {
 // background-color: $header-bg;
//}


.grid-align{position: absolute; top:60px; width: 98%;}
.header-align{position: absolute;
  top: 20px;
  width: 97%;}
.wid-50px{width: 50px!important;}
.wid-110px{width: 110px!important;}
.wid-180px{width: 180px!important;}
.wid-190px{width: 190px!important;}
.wid-150px{width: 150px!important;}
.font-bld{ font-weight: bold;}
.font-norm{ font-weight: normal;}
.mar-let-40px{margin-left: 40px;}

.invoice-view {
  margin-top: 0px;
}

.pdf-icon {
  font-size: 18px;
  color: inherit !important;
  padding: 0px !important;
  text-align: inherit !important;
}






