
<div class="row">
  <div class="container-fluid" id="purchase-wrapper"> 
    <div class="row back-colr">
    <div class="container">
    <div class="header-align"><h3 id="title">Purchase Invoices</h3> 
            
    </div>
    <div class="m-t-25 grid-align table-container">
    <table class="table" id="poTable">
      <thead id="table-head">
        <tr>
          <th class="wid-150px">Created Date</th>
          <th>Invoice Number</th>
          <th>Product List</th>
          <th>Vendor</th>
          <th>Qty</th>
          <th>Sub Totoal</th>
          <th class="txt-right wid-150px">Delivery Cost</th>
          <th class="txt-right wid-150px">Total</th>
          <th>Status</th>
          <th>Action</th> 
         </tr>
      </thead>
      <tbody> 
        <tr class="purchase-order-row-invoiced" *ngFor="let item of invoiceList">
          <td class="wid-150px">{{item.poDate}}</td>
          <td><span>{{item.invoiceNumber}}</span></td>
          <td>{{item.productName}}</td>
          <td>{{item.vendorName}}</td>
          <td><span>{{item.quantity}}</span></td>
          <td><span>{{item.unitPrice}}</span></td>
          <td class="txt-right wid-150px">{{item.deliveryCost}}</td>
          <td class="txt-right wid-150px">{{ item.totalAmount - item.deliveryCost }}</td>
          <td><span>{{item.status}}</span></td>
          <td><span class="edit-delete-icon invoice-view">
            <a href="assests/sample.pdf" target="_blank" class="pdf-icon"><i (click)="showPdf()" class="fa">&#xf1c1;</i></a>
           </span></td>
         </tr>
       </tbody>
    </table>
  </div>
  </div>
      </div>
    </div>
  </div>
  