<!DOCTYPE html>
<div class="row">
  <div class="container-fluid" id="purchase-wrapper">
    <div class="row back-colr">
      <div class="container">
        <div>
          <h3 id="purchase-order-title">Purchase Invoice List</h3> 
        </div>

        <table class="table m-t-25" id="poTable">
          <thead id="table-head">
            <tr>
              <th style="cursor:pointer">Number</th>
              <th style="cursor:pointer">Date
                  <i *ngIf="!isSortDateDesc" class="sort-by-desc" (click)="sortByOrder('date','desc')"></i>
                  <i class="sort-by-asc" *ngIf="!isSortDateAsc" (click)="sortByOrder('date','asc')"></i>
              </th>
              <th>Product Name</th>
              <th>Vendor</th>
              <th>Quantity</th>
              <th>Sub Total</th>
              <th>Delivery Cost</th>
              <th>Total</th>
                <!-- <th onclick="w3.sortHTML('#poTable', '.purchase-order-row-open', 'td:nth-child(3)')" 
                style="cursor:pointer">Status<i class="sort-by-desc"></i></th> -->
              <th style="cursor:pointer">Status
                  <i *ngIf="!isSortStatusDesc" class="sort-by-desc" (click)="sortByOrder('status','desc')"></i>
                  <i class="sort-by-asc" *ngIf="!isSortStatusAsc" (click)="sortByOrder('status','asc')"></i>
              </th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of purchaseList; let i = index">
              <td [ngClass]="poCode">{{item.invoiceNumber}}</td>
              <td [ngClass]="poDate">{{item.poDate | date : 'dd/MM/yyyy'}}</td>
              <td>{{item.productName}}</td>
              <td>{{item.vendorName}}</td>
              <td class="txt-right">{{item.quantity}}</td>
              <td class="txt-right">{{item.unitPrice}} </td>
              <td class="txt-right">{{item.deliveryCost}}</td>
              <td class="txt-right">{{item.totalAmount--item.deliveryCost}}</td>
              <td><span class="open-status">{{item.status}}</span>
                  <!-- <span *ngIf="item.status !== 'Pending'" class="invoice-status">{{item.status}}</span> -->
              </td>
              <td>
                  <span class="fas fa-pen" (click)="viewinvoice(
                    item.invoiceNumber,item.vendorName,item.poDate,item.status)">
                  </span>
                
              </td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>