<!-- <form name="formReg">
  <div class="tab-content-bg p-3">
    <div class="row">
      <div class="col">
        <ng-container [ngSwitch]="true">
          <ng-container *ngSwitchCase="isEditMode">
            Edit Employee Detail
          </ng-container>
          <ng-container *ngSwitchCase="isAddNew">
            Add Employee
          </ng-container>
          <ng-container *ngSwitchDefault>
            Employee Detail
          </ng-container>
        </ng-container>
      </div>
      <div class="col px-3">
        <span class="row m-0">
          <ng-container [ngSwitch]="true">
            <ng-container *ngSwitchCase="isEditMode"
              ><span class="col px-2">
                <button
                  class="col btn-red transparent-border"
                  (click)="deleteEmployeeEmitter()"
                >
                  <i class="fas fa-trash"></i>
                  Delete
                </button>
              </span>
              <span class="col px-2">
                <button
                  class="col btn-green transparent-border"
                  (click)="saveEmployee()"
                >
                  <i class="fas fa-save"></i>
                  Save
                </button>
              </span>
            </ng-container>
            <ng-container *ngSwitchCase="isAddNew"
              ><span class="col px-2">
                <button
                  class="col btn-red transparent-border"
                  (click)="cancelAddNew()"
                >
                  <i class="fas fa-trash"></i>
                  Delete
                </button>
              </span>
              <span class="col px-2">
                <button
                  class="col btn-green transparent-border"
                  (click)="saveEmployee()"
                >
                  <i class="fas fa-save"></i>
                  Save
                </button>
              </span>
            </ng-container>
            <ng-container *ngSwitchDefault>
              <span class="col px-2">
                <button class="col" (click)="toggleEditMode()">
                  <i class="fas fa-edit"></i>
                  Edit
                </button>
              </span>
              <span class="col px-2">
                <button class="col" (click)="printPage(EmployeeDetail)">
                  <i class="fas fa-print"></i>
                  Print Page
                </button>
              </span>
            </ng-container>
          </ng-container>
        </span>
      </div>
    </div>
    <ng-container *ngTemplateOutlet="EmployeeDetail"></ng-container>
    <ng-template #EmployeeDetail>
      <div class="three-column max-height-adjust mt-3">
        <div
          *ngFor="
            let fieldLabel of fieldLabels | idFilter;
            trackBy: trackByIndex
          "
          class="mb-3 pr-4"
        >
          <div
            *ngIf="
              !(
                isAddNew &&
                (fieldLabel === 'code' ||
                  fieldLabel === 'doj' ||
                  fieldLabel === 'absentDedution')
              )
            "
            class="mb-1"
          >
            {{ ts.translate(fieldLabel) }}
          </div>
         Validation for photo and input fields -->
         <!--<ng-container [ngSwitch]="true">
            <img
              *ngSwitchCase="fieldLabel === 'photo'"
              [src]="employee[fieldLabel]"
              alt="Employee Photo"
              class="employee-photo"
            />

            <textarea
              *ngSwitchCase="fieldLabel === 'address'"
              [placeholder]="ts.translate(fieldLabel)"
              [disabled]="!isAddNew && !isEditMode"
              class="p-1"
              [value]="employee[fieldLabel]"
              [(ngModel)]="employee[fieldLabel]"
              [ngModelOptions]="{ standalone: true }"
            >
            </textarea>

            <ng-container *ngSwitchDefault>
              <input
                *ngIf="
                  !(
                    isAddNew &&
                    (fieldLabel === 'code' ||
                      fieldLabel === 'doj' ||
                      fieldLabel === 'absentDedution')
                  )
                "
                type="text"
                [placeholder]="ts.translate(fieldLabel)"
                [value]="employee[fieldLabel]"
                [disabled]="
                  !isAddNew &&
                  (!isEditMode ||
                    fieldLabel === 'code' ||
                    fieldLabel === 'doj' ||
                    fieldLabel === 'absentDedution')
                "
                [(ngModel)]="employee[fieldLabel]"
                [ngModelOptions]="{ standalone: true }"
                class="p-1"
              />
            </ng-container>
          </ng-container>
        </div>
      </div>
    </ng-template>
  </div>
</form>
<div class="d-flex justify-content-center">
  <button class="px-5 m-3" (click)="backToEmployeesList()">
    Back
  </button>
</div> -->

<div class="container-fluid">
  <div class="row back-colr">
  <div class="container">
  <div><h3 style="float:left;"> {{employeeDet.name}}</h3> 
  <!--<button style="float:right;" class="button button5"> Add Purchase Order</button>-->
 <div style="float: right;">
 <img src="assets/images/print.png" style="margin-right: 10px;" class="img-fluid logo" alt="print"/>
<img src="assets/images/edit.PNG" style="margin-right: 10px;" class="img-fluid logo" alt="print"/>
<img src="assets/images/bar.PNG" style="margin-right: 15px;margin-left: 15px;" class="img-fluid logo" alt="print"/>
<img src="assets/images/delete.PNG" class="img-fluid logo" alt="download" />
    </div>
  </div>
  
  <div class="col-md-12 col-xs-12 col-sm-12" style="margin-top: 20px;">
  <div class="col-md-3 col-xs-12 col-sm-3 side-wapper">
  <div class="col-md-2 side-profile-box">
  <div class="profile-div"><img src="assets/images/profile-pic.PNG" /></div>
<div style="display: flow-root; margin-top: 15px;"><span>{{employeeDet.rank}}</span>
<span>{{employeeDet.employeecode}}</span></div>  
  </div>
  <div style="clear:both"></div>
  <div style="margin-left:25px;">
  <div style="color: rgba(85,112,129,1);margin-top:25px;">Phone</div>
      <div style="color:#fff;">{{employeeDet.phonenumber}}</div>
	  <div style="color: rgba(85,112,129,1); margin-top:25px;">Email</div>
      <div style="color:#fff;">{{employeeDet.email}}</div>
	  <div style="color: rgba(85,112,129,1); margin-top:25px;">Address </div>
      <div style="color:#fff;">{{employeeDet.address}}</div>
 <div style="color: rgba(85,112,129,1); margin-top:25px;">Birthday</div>
      <div style="color:#fff;">{{employeeDet.dob}}</div>
	   <div style="color: rgba(85,112,129,1); margin-top:25px;">NPWP</div>
      <div style="color:#fff;">{{employeeDet.npwp}}</div>
	   <div style="color: rgba(85,112,129,1); margin-top:25px;">BPJS</div>
      <div style="color:#fff;">{{employeeDet.bpjs}}</div>
  </div>
   
  </div>
   <div class="col-md-9 col-xs-12 col-sm-9" style="position: relative;
    left: 30px;">
  <div class="col-md-12 col-xs-12 col-sm-12" style="background-color:#17252F; display:block;-webkit-box-shadow:3px 2px 5px -1px rgba(0,0,0,.075);
-moz-box-shadow: 3px 2px 5px -1px rgba(0,0,0,.075);
box-shadow:3px 2px 5px -1px rgba(0,0,0,.075);padding-bottom: 25px;">
  <h4 style="color: rgba(85,112,129,1); margin-bottom: 20px;">Employment Details</h4>
  <div class="col-md-3">
  <div class="ble-colr">Joined on</div>
  <div>{{employeeDet.addeddate}}</div>
  </div>
  <div class="col-md-3">
  <div class="ble-colr">Monthly Salary</div>
  <div>{{employeeDet.monthlysalary}}</div>
  </div>
  <div class="col-md-3">
  <div class="ble-colr">Overtime Salary</div>
  <div>-</div>
  </div>
  <div class="col-md-3">
  <div class="ble-colr">Contract Document</div>
  <div>CN-99-23430.pdf</div>
  </div>
  </div>
 
   <div class="col-md-12 col-xs-12 col-sm-12" style="background-color:#17252F; display:block;-webkit-box-shadow:3px 2px 5px -1px rgba(0,0,0,.075);
-moz-box-shadow: 3px 2px 5px -1px rgba(0,0,0,.075);
box-shadow:3px 2px 5px -1px rgba(0,0,0,.075);padding-bottom: 25px; margin-top:25px;">
  <h4 style="color: rgba(85,112,129,1); margin-bottom: 20px;">Attendance Details</h4>
  <div class="col-md-3">
  <div class="ble-colr">Work</div>
  <div>{{employeeDet.workHour}}</div>
  </div>
  <div class="col-md-3">
  <div class="ble-colr">Annual Leave</div>
  <div>{{employeeDet.annualLeave}}</div>
  </div>
  <div class="col-md-3">
  <div class="ble-colr">Days Absent</div>
  <div>-</div>
  </div>
  <div class="col-md-3">
  <div class="ble-colr">Absent Deduction</div>
  <div>-</div>
  </div>
  <div class="col-md-12 col-xs-12 col-sm-12" style="background-color:#1A2D39; margin: 30px 10px 10px 10px; width: 98%; padding: 15px; -webkit-box-shadow:3px 2px 5px -1px rgba(0,0,0,.075);
-moz-box-shadow: 3px 2px 5px -1px rgba(0,0,0,.075);
box-shadow:3px 2px 5px -1px rgba(0,0,0,.075)">
  <div class="col-md-12" style="margin-bottom: 20px;"><h5 style="float: left;">October Absent Card</h5> <img src="assets/images/print1.png" style="margin-right: 10px; float: right;" class="img-fluid logo" alt="print"/></div>
  <div class="col-md-12">
	 <div class="col-md-2" style="border:2px solid #284556; padding: 15px 0px; text-align: center;">
  <div>21/09/19</div>
 
  </div>
  <div class="col-md-4" style="background-color:#1C313E;height: 52px;margin-left: 10px; padding-top: 5px;">
  <div style="color:#17af7d;">9:00 AM</div>
  
  </div>
  <div class="col-md-5" style="background-color:#253F4B; height: 52px;margin-left: 10px;">
  <div style="color:red;padding-top: 5px;">2:00 PM</div>
  <div>Doctor’s Appointment</div>
  </div>
  </div>
   <div class="col-md-12" style="margin-top:10px;">
	 <div class="col-md-2" style="border:2px solid #284556; padding: 15px 0px; text-align: center;">
  <div>21/09/19</div>
 
  </div>
  <div class="col-md-9" style="background-color:#253F4B;height: 52px;margin-left: 10px;padding-top: 5px; width: 533px;
">
  <div style="color:#17af7d;">9:00 AM</div>
  
  </div>
  
  </div>
   <div class="col-md-12" style="margin-top:10px;">
	 <div class="col-md-2" style="border:2px solid #284556; padding: 15px 0px; text-align: center;">
  <div>21/09/19</div>
 
  </div>
  <div class="col-md-9" style="background-color:#253F4B;height: 52px;margin-left: 10px;padding-top: 5px;width: 533px;
">
  <div style="color:#17af7d;">9:00 AM</div>
  
  </div>
  
  </div>
   <div class="col-md-12" style="margin-top:10px;">
	 <div class="col-md-2" style="border:2px solid #284556; padding: 15px 0px; text-align: center;">
  <div>21/09/19</div>
 
  </div>
  <div class="col-md-4" style="background-color:#253F4B;height: 52px;margin-left: 10px;padding-top: 5px;">
  <div style="color:#17af7d;">9:00 AM</div>
  
  </div>
  <div class="col-md-5" style="background-color:#1C313E; height: 52px;margin-left: 10px;">
  <div style="color:red;padding-top: 5px;">2:00 PM</div>
  <div>Doctor’s Appointment</div>
  </div>
  </div> 
  
  
  </div>
  </div>
  </div>
  </div>
    
</div>
    </div>
  </div>
