<div class="grid-container3">
  <div class="purchase-invoice-view">
    <div class="purchase-orders-view">
      <div class="orders-view-header">
        <h3>Purchase Orders</h3>
        <span>
          3 Open orders found from Carbon Composite that need to invoiced
        </span>
      </div>
      <div class="orders-view-box">
        <div class="option">
          <input type="checkbox" />
        </div>
        <div class="details">
          <div>
            <span>006</span>
            <span>21/03/2020</span>
            <span>Carbon Composite</span>
          </div>
          <div>
            <h4>Carbon Twill Read Reflective 2x2 200gsm</h4>
            <span>Carbon Fiber</span>
          </div>
          <div>
            13,500.000
          </div>
        </div>
      </div>
      <div class="orders-view-box">
        <div class="option">
          <input type="checkbox" />
        </div>
        <div class="details">
          <div>
            <span>006</span>
            <span>21/03/2020</span>
            <span>Carbon Composite</span>
          </div>
          <div>
            <h4>Carbon Twill Read Reflective 2x2 200gsm</h4>
            <span>Carbon Fiber</span>
          </div>
          <div>
            13,500.000
          </div>
        </div>
      </div>
      <div class="orders-view-box">
        <div class="option">
          <input type="checkbox" />
        </div>
        <div class="details">
          <div>
            <span>006</span>
            <span>21/03/2020</span>
            <span>Carbon Composite</span>
          </div>
          <div>
            <h4>Carbon Twill Read Reflective 2x2 200gsm</h4>
            <span>Carbon Fiber</span>
          </div>
          <div>
            13,500.000
          </div>
        </div>
      </div>
    </div>
    <div class="create-invoice-view">
      <div class="create-invoice-header">
        <h3>Create Invoice</h3>
      </div>
      <div class="vendor-info">
        <div>
          <span>Vendor</span>
          <span>Carbon Composite</span>
        </div>
        <div>
          <span>Date</span>
          <span>21/02/2020</span>
        </div>
      </div>
      <div class="product-list">
        <h4>Product List</h4>
        <div class="table-invoice">
          <div class="invoice-header">
            <div>Name</div>
            <div>Quantity</div>
            <div>Cost</div>
          </div>
          <div class="invoice-body">
            <div>
              Carbon Twill Reflective 2x2 200 gsm
              <span>Carbon fiber</span>
            </div>
            <div>30 meters</div>
            <div>13,500.000</div>
          </div>
          <div class="invoice-footer">
            <div>
              <div>Subtotal</div>
              <div>14,500.00</div>
            </div>
            <div>
              <div>Delivery Charges</div>
              <div><span>500.00</span></div>
            </div>
            <div>
              <div><span>Total</span></div>
              <div><span>15,000.000</span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
