  <div class="container-fluid" id="employee-wrapper"> 
    <div class="back-colr">
      <div class="container">
        <div class="header-align"><h3 style="float: left;" id="title">Employees</h3> 
          <!-- <button class="create-button">
            <span class="fas fa-download" style="margin-right: 5px;"></span>Download
          </button> -->
          <div style="float: right;"><button  class="create-button" style="float: left; margin-right: 10px; margin-top: 4px;" (click)="addEmployee()">
            <span class="fas fa-plus"></span> Add Employee 
            </button>
            <img src="assets/images/print.png" style="margin-right: 10px;" class="img-fluid logo" alt="print"/>
            <img src="assets/images/download.png" class="img-fluid logo" alt="download" />
          </div>     
        </div>
      </div>
    
      <div id="table-outer-div">
        <table class="table">
          <thead>
            <tr>
              <th></th>
              <th>ID</th>
              <th>Name</th>
              <th>Designation</th>
              <th>Email</th>
              <th>Phone</th>
              <th>Joined Date</th>
              <th>Status</th>
              <th></th>
            </tr>
          </thead>  
          <tbody *ngFor="let e of employeesDS; let i = index"
          (dblclick)="router.navigateByUrl('/employment/viewEmployee/'+e.employeecode)"> 
          <tr>
              <td class="wid-50px" style="width: 4% !important;">
                <!-- <img [src]="transform(e.cardImageBase64)"  class="img-fluid logo"> -->
                <fieldset class="form-group">
                  <div class="custom-file fileInputProfileWrap">
                    <div class="img-space">
                      <img [src]="transform(e.cardImageBase64)">
                    </div>
                  </div>
                </fieldset>
              </td>
              <td>{{e.employeecode}}</td>
              <td>{{e.name}}</td>
              <td>{{e.rank}}</td>
              <td>{{e.email}}</td>
              <td>
                <app-employee-report (closeDailyReport)="closePopup($event, i,'report')" *ngIf="showHideDailyReport[i]" [dailyReportItem]="item" [getDailyReportDetail]="getDailyReportDetail"></app-employee-report>
                {{e.phonenumber}}
              </td>
              <td>
                <app-employee-absence *ngIf="isShowHideAbsent[i]" [absenceItem]="item" (closeAbsencePopup)="closePopup($event, i,'absence')" [getAbsentDetail]="getAbsentDetail"></app-employee-absence>
                <app-employee-checkin-checkout *ngIf="isShowHideCheckinCheckout[i]" (closeCheckinCheckoutPopup)="closePopup($event, i,'checkinCheckout')" (enableAbsentIcon)="enableAbsentIcon($event, i)" [absenceItem]="item" [getAbsentDetail]="getAbsentDetail" [currentTime]="todayTime"></app-employee-checkin-checkout>
                {{e.addeddate}}
              </td>
              <td>{{e.status}}</td>
              <td class="wid-190px" style="width: 13% !important;text-align: right;">
                <span class="edit-delete-icon user-icon" class="edit-delete-icon user-icon" style="left:20px !important">
                  <span class="fas fa-list-alt" style="font-size: 16px; margin-right: 5px;" (click) = "dailyReport(i, item)"></span>
                  <span class="fas fa-user-clock" style="margin-right: 5px; font-size: 16px;" (click)="checkinCheckout(i, item)"></span>
                  <span class="fas fa-calendar-times" [ngClass]="isAbsentMouseover[i] ? 'absent-disabled' : ''" (mouseover)="absentMouseover(i, item)" style="margin-right: 10px; font-size: 16px;" (click)="absentPopup(i, item)"></span>
                </span>
              </td>
            </tr>  
          </tbody>
        </table>
      </div>
    </div>  
  </div>

