<!-- <ng-container *ngIf="!showDetail">
  <div class="row w-100 m-0">
    <div class="row w-100">
      <div class="col">
        Employee List
      </div>
      <div class="row col">
        <button class="col-4" (click)="printPage(EmployeeListTable)">
          <i class="fas fa-print"></i>
          Print Page
        </button>
        <div class="col-8">
          <div class="search-box">
            <i class="fas fa-search search-icon" aria-hidden="true"></i>
            <input
              class="search-text-box"
              type="search"
              matInput
              (keyup)="applyFilter($event.target.value)"
              placeholder="Search Employee"
              (change)="searchEmployee()"
            />
          </div>
        </div>
      </div>
    </div>
    <ng-container *ngTemplateOutlet="EmployeeListTable"></ng-container>
    <ng-template #EmployeeListTable>
      <table class="w-100 mt-4" mat-table [dataSource]="employees">
        <ng-container matColumnDef="code">
          <th mat-header-cell *matHeaderCellDef>Employee Code</th>
          <td mat-cell *matCellDef="let row" id="{{ row.employeecode }}">
            {{ row.employeecode }}
          </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let row" id="{{ row.employeecode }}">
            {{ row.name }}
          </td>
        </ng-container>

        <ng-container matColumnDef="rank">
          <th mat-header-cell *matHeaderCellDef>Rank</th>
          <td mat-cell *matCellDef="let row" id="{{ row.employeecode }}">
            {{ row.rank }}
          </td>
        </ng-container>

        <ng-container matColumnDef="contactNumber">
          <th mat-header-cell *matHeaderCellDef>
            Contact Number
          </th>
          <td mat-cell *matCellDef="let row" id="{{ row.employeecode }}">
            {{ row.phonenumber }}
          </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef hideInPrint>Action</th>
          <td mat-cell *matCellDef="let row" hideInPrint class="actions">
            <i
              class="fas fa-eye"
              (click)="toggleEmployeeDetailView(row.employeecode)"
            ></i>
            <i class="fas fa-print" (click)="productprint()"></i>
            <i
              class="fas fa-edit"
              (click)="toggleEmployeeDetailView(row.employeecode, true)"
            ></i>
            <i
              class="fas fa-trash"
              (click)="deleteEmployee(row.employeecode)"
            ></i>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          [ngClass]="table - row"
          tabindex="1"
          *matRowDef="let row; columns: displayedColumns"
        ></tr>
      </table>
    </ng-template>

    <div class="row justify-content-end col">
      <mat-paginator [pageSize]="5" [hidePageSize]="true"></mat-paginator>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="showDetail">
  <app-employee-detail
    #employeeDetail
    [employeeCode]="chosenEmployeeCode"
    (navigateBack)="toggleEmployeeDetailView()"
    (deleteEmployee)="deleteEmployee($event)"
  ></app-employee-detail>
</ng-container> -->

<!DOCTYPE html>
<div class="row">
<div class="container-fluid" id="purchase-wrapper"> 
  <div class="row back-colr">
  <div class="container">
  <div class="header-align"><h3 id="title">Employees</h3> 
    
  <button class="create-button">
    View
</button>
<button class="create-button">
  Print
</button>
    <button  class="create-button" (click)="addEmployee()">
      <span class="fas fa-plus"></span> Add Employee 
  </button>
         
  </div>
  <div class="m-t-25 grid-align" style="position: absolute; top:60px; width: 98%;">
  <table class="table" id="poTable" style="margin-bottom: 0px !important; padding-top: 0px!important;">
    <thead id="table-head" style="position: absolute;
    top: 0px;">
      <tr>
	  <th class="wid-50px">
     
            </th>
        <th class="wid-150px" style="cursor:pointer;">ID</th>
        <th class="wid-150px" style="cursor:pointer;">Name
         
        </th>
        <!-- <th onclick="w3.sortHTML('#poTable', '.purchase-order-row-open', 'td:nth-child(3)')" 
        style="cursor:pointer">Status<i class="sort-by-desc"></i></th> -->
        <th class="wid-190px" style="cursor:pointer;">Designation
        
        </th>
		<th class="wid-190px">Email</th>
        <th class="txt-right wid-150px">Phone</th>
        <th class="wid-190px"><i class="fa fa-filter"></i></th>
       </tr>
    </thead>
    <tbody class="over-flo"> 
      <tr *ngFor="let item of employeesDS" class="purchase-order-row-invoiced">
	  <td class="wid-50px">
      <img src="assets/images/employee.png" class="img-fluid logo" alt="Employee" />
			  </td>
        <td class="wid-150px">{{item.employeecode}}</td>
        <td class="wid-150px"><span >{{item.name}}</span></td>
        <td class="wid-190px">-
        </td>
		<td class="wid-190px">{{item.email}}</td>
        <td class="txt-right wid-150px">{{item.phonenumber}}</td>
       
        <td class="wid-190px"><span class="edit-delete-icon user-icon">
          
          <span class="fas fa-calendar-times"></span>
          <span class="fas fa-user-clock"></span>
          <span class="fas fa-list-alt"></span>
        </span></td>
       </tr>
     </tbody>
  </table>
</div>
</div>
    </div>
  </div>
</div>
