<div class="employee-content">
        <div class="row">
          <div class="col-lg-11">
            <div class="tab">
                    <a class="tablink" id="defaultOpen" [class.active]="viewMode == 'tab1'" rel="tab1" (click)="viewMode ='tab1'">Stock In</a>
                    <a class="tablink" [class.active]="viewMode == 'tab2'" rel="tab2" (click)="viewMode ='tab2'">Stock Out</a>
                    <a class="tablink" [class.active]="viewMode == 'tab3'" rel="tab3" (click)="viewMode ='tab3'">Stock Return</a>
                    <a class="tablink" [class.active]="viewMode == 'tab4'" rel="tab4" (click)="viewMode ='tab4'">DamageStock</a>
                    <a class="tablink" [class.active]="viewMode == 'tab5'" rel="tab5" (click)="viewMode ='tab5'">Stock Report</a>
            </div>
                    
            <div id="addstock-div">
                <br/><br/>
                <div class="group-gap">
                    <div class="tab-slider--container" [ngSwitch]="viewMode">
                        <br/><br/>
                        <!-- Stock Tab 1 Starting -->
                        <div id="tab1" class="tab-slider--body" *ngSwitchCase="'tab1'">
                            <div class="row" style="margin-left: 15px;">
                                <div class="col-lg-4">
                                    <p>Stock In Summary</p>
                                </div>
                                <div class="col-lg-1"></div>
                                <div class="col-lg-3">
                                    <button id="print-butn">
                                        &nbsp;<i class="fa fa-print" aria-hidden="true" id="icon-mod"></i>&nbsp;
                                        <label id="text">Print Page</label>&nbsp;
                                    </button>
                                </div>
                                <div class="col-lg-4">
                                    <mat-form-field>
                                        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search Invoice" >
                                    </mat-form-field>
                                </div>

                            </div>
                        </div>
                        <!-- Stock Tab 1 Ending -->
                        <!-- Stock Tab 2 Starting -->
                        <div id="tab1" class="tab-slider--body" *ngSwitchCase="'tab2'">
                            <div style="margin-left: 65px;">
                                <p>Stock Out Div Calling</p>
                            </div>
                        </div>
                        <!-- Stock Tab 2 Ending -->
                        <!-- Stock Tab 3 Starting -->
                        <div id="tab1" class="tab-slider--body" *ngSwitchCase="'tab3'">
                            <div style="margin-left: 65px;">
                                <p>Stock Return Div Calling</p>
                            </div>
                        </div>
                        <!-- Stock Tab 3 Ending -->
                        <!-- Stock Tab 4 Starting -->
                        <div id="tab1" class="tab-slider--body" *ngSwitchCase="'tab4'">
                            <div style="margin-left: 65px;">
                                <p>Damage Stock Div Calling</p>
                            </div>
                        </div>
                        <!-- Stock Tab 4 Ending -->
                        <!-- Stock Tab 5 Starting -->
                        <div id="tab1" class="tab-slider--body" *ngSwitchCase="'tab5'">
                            <div style="margin-left: 65px;">
                                <p>Stock Report Div Calling</p>
                            </div>
                        </div>
                        <!-- Stock Tab 5 Ending -->
                    </div>
                
                </div>
            </div>
        </div>                    
    </div>
    <br/><br/><br/>
</div>
      