@import "_base";


.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

span{
//  color:#a94442;
  color:white;
  background-color: red;
  font-size: 12px;
}

::ng-deep .addnewcategory  .mat-dialog-container {
  background:$po-order-form-bg;
}

/* Style all input fields */
input {
  width: 100%;
  padding: 12px;
  font-size: 12px;
  font-family: $font-family;
  background:$po-order-form-bg;
  border: 1px solid  $header-bg; 
  color:$white;
  //border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}
button[type="submit"]{
  background: $btn-bg;
  width: 100%;
  border: none;
  border-radius: 25px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  padding: 12px;
  font-family: $font-family;
}
label{
  color:$white;
}
h4{
  color:$white;
}
/* Style the container for inputs */
.container {
  background:$po-order-form-bg;
  padding: 20px;
}

.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "✖";
}

.close.mat-button {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  background:red;
  padding: 5px;
  line-height: 14px;
  min-width: auto;
}
.cdk-overlay-pane.my-dialog {
  position: relative!important;
}
.close {
  border: none;
  background:red;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  padding: 3px;
  cursor: pointer;
}
#close-icon{
  font-size: 1.5rem;
}
