@import "_base";

* {
  font-size: 13px;
  color: white;
}
::ng-deep .addnewproduct .mat-dialog-container {
//  background-color: #434f5b;
  background:$po-order-form-bg;
  width: 150vh;;
  height: 100vh; 
  border-radius: 25px;
  padding: 17px;
  overflow: hidden;
}
#text-cursor {
  cursor: text;
}
h2 {
  margin: 3px 3px 3px 5px;
  font-size: 20px;
  font-weight: bold;
}
#discountedit-secondlayer {
//  background: #333c45;
  background:$po-order-form-bg;
  height: 100%;
  width: 100%;
}
#disedit-icon {
  font-size: 35px;
  color: white;
  text-align: center;
}
#editselect-box {
  width: 220px;
  height: 35px;
  background:$po-order-form-bg;
  border: 1px solid  $header-bg;
  border-radius: 5px;

  //box-shadow: none;
  /* font-size: 12px; */
}
#name-box {
  width: 220px;
  height: 35px;
  //background: #272e34;
  background:$po-order-form-bg;
  border: 1px solid  $header-bg;
  border-radius: 5px;

  //box-shadow: none;
}
#description-box {
  width: 220px;
  height: 75px;
  background:$po-order-form-bg;
  border: 1px solid  $header-bg;
  border-radius: 5px;

  //box-shadow: none;
  font-size: 12px;
  /*  font-size:12px; */
}

.image-wrap {
  padding: 10px;
  border: solid 1px #e0e0e0;
  display: inline-block;
}

.img-space {
  border-radius: 8px;
  height: auto;
  width: 70%;
  padding: 10px;
  min-height:175px;
}

.img-space img {
  display: block;
  width: 100%;
  height: 100%;
  margin: auto;
  cursor: pointer;
}

.fileInputProfileWrap {
  width: 100%;
  height: auto;
}

.fileInputProfile {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 99;
  opacity: 0;
}
.fileInputProfile[disabled] + .img-space{
  pointer-events: none;
  cursor: not-allowed!important;
}
#tax-box {
  width: 71px;
  height: 35px;
  background:$po-order-form-bg;
  border: 1px solid  $header-bg;
  //box-shadow: none;
  margin-left: 114px;
  border-radius: 5px;

}
#margin-box {
  width: 71px;
  height: 35px;
  background:$po-order-form-bg;
  border: 1px solid  $header-bg;
  //box-shadow: none;
  border-radius: 5px;

}
#price-box {
  width: 220px;
  height: 35px;
  background:$po-order-form-bg;
  border: 1px solid  $header-bg;
  border-radius: 5px;

  //box-shadow: none;
}
#addproductpic-box {
  height: 150px;
  width: 150px;
  text-align: center;
  background: #272e34;
  //background:$po-order-form-bg;

  border: none;
  box-shadow: none;
}
#addpicture-icon {
  font-size: 40px;
  color: #51575c;
  //background:$po-order-form-bg;
  text-align: center;
  margin: 30px;
}
#productcode-box {
  background:$po-order-form-bg;
  border: 1px solid  $header-bg;
  //box-shadow: none;  width: 220px;
  height: 35px;
  border-radius: 5px;

  //color: white;
}
#save-btn {
  width: 140px;
  height: 35px;
  background: $btn-bg;
  border: none;
  border-radius: 25px;
}
#cancel-btn {
  width: 140px;
  height: 35px;
  background: #ff0000;
  border: none;
}
