<!--Dialouge box start-->
<div id="box-dialouge">
    <button type="button" class="close" aria-label="Close" 
        (click)="addPromotionClose()" style="position: relative; left: 0px; top: 5px;">
        <span aria-hidden="true" id="close-icon">&times;</span>
    </button>
        
    <br/>
    <form name="addpromotion" (ngSubmit)="savePromotion()"> 
    <h2 style="text-align: center;">{{title}}</h2>
    <div class="row">
        <div class="col-2 col-md-2 col-sm-2 col-lg-2"></div>
        <div class="col-10 col-md-10 col-sm-10 col-lg-10">
            <div class="row">
                <div class="col-2 col-md-2 col-sm-2 col-lg-2">
                  <p>Category</p>
                </div>

                  <div class="col-1 col-md-1 col-sm-1 col-lg-1">
                  <p>:</p>
                  </div>
                
                <div class="col-7 col-md-7 col-sm-7 col-lg-7">
                <!--  <ng2-completer class="autosearch1" 
                  placeholder="&#xf002; Search here"  
                    [(ngModel)]="model.productname" name="productname"
                     #productname="ngModel" [datasource]="dataService" 
                    [minSearchLength]="0" ></ng2-completer> -->

                  <select id="selectbox-category" name ="selectcategory" 
                  [(ngModel)]="model.categorycode"
                  #categorycode="ngModel" required>
                      <option>---- Select ----</option>
                      <option *ngFor="let itemcategory of allcategorylist" value="{{itemcategory.name}}-{{itemcategory.categorycode}}"> {{itemcategory.name}}-{{itemcategory.categorycode}} </option>
                  </select>
                </div>
            </div>

            <div class="row">
                <div class="col-2 col-md-2 col-sm-2 col-lg-2">
                  <p>Product</p>
                </div>
                <div class="col-1 col-md-1 col-sm-1 col-lg-1">
                  <p>:</p>
                </div>
                <div class="col-7 col-md-7 col-sm-7 col-lg-7">
                  <div class="search-box">
                    <i class="fas fa-search search-icon"
                     style="left: -10px;top: 10px;"
                     aria-hidden="true">
                    </i>
                    <ng2-completer
                      placeholder="Search Product"
                      [(ngModel)]="model.productname"
                      name="productname"
                      #productname="ngModel"
                      [datasource]="dataService"
                      [minSearchLength]="0"
                      id="textSize2"
                    ></ng2-completer>
                    <!-- <input
                      class="search-text-box"
                      type="search"
                      [(ngModel)]="model.productname" 
                      name="productname"
                      #productname="ngModel"
                      autocomplete="on"
                      placeholder="Search Product"
                    /> -->
                  </div>
                </div>
            </div>
        </div>

        <div class="col-4 col-md-4 col-sm-4 col-lg-4"></div>
        <div class="col-8 col-md-8 col-sm-8 col-lg-8">
            <div *ngIf="discountShow" class="row" style="margin-left: 0px;">
              <input class="regular-radio" type="radio" name="radiopromo" style="margin: 5px 7px 17px 7px;" />
                  <p>Discount</p>
                  &nbsp;
                  <input placeholder="%" id="dicountinput-box"
                    name ="discount" [(ngModel)]="model.discount" 
                    #discount="ngModel" readonly />
                  &nbsp;&nbsp;&nbsp;
                  <p>Qty</p>
                  &nbsp;
                  <input type="text" id="qtyinput-box" name ="qty" 
                    [(ngModel)]="model.qty"  #qty="ngModel" />
            </div>

            <div *ngIf="freegiftShow" class="row" style="margin-left: 0px;">
              <input type="radio" class="regular-radio" value="freegift" [(ngModel)]="model.discountType" #discountType="ngModel"
              name="radiopromo" style="margin: 5px 7px 17px 7px;
              "/>
                  <p>Free Gift</p>
                  &nbsp;
                  <input type="text" class="regular-radio" id="freegift-box" placeholder="Product Free Gift" 
                  name ="freegift" 
                  [(ngModel)]="model.freegift" 
                  #freegift="ngModel"/>
            </div>

            <div class="row" style="margin-left: 0px;">
                <label class="checkbox-inline">
                  <input type="radio" class="regular-radio" value="others" [(ngModel)]="model.discountType" #discountType="ngModel"
                  name="radiopromo" style="margin: 7px;"/>
                </label>
                  <p>Others </p>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <input type="text" id="others-box" class="regular-radio" placeholder="Custom Promotion" 
                  name ="others" 
                  [(ngModel)]="model.others" 
                  #others="ngModel"/>
            </div>
        </div>
        <br/><br/>
        <div class="col-12 col-md-12 col-sm-12 col-lg-12">
            <div class="row">
                <div class="col-4 col-md-4 col-sm-4 col-lg-4">
                    <p style="float: right;">Promotion Period</p>
                </div>
                <div class="col-1 col-md-1 col-sm-1 col-lg-1">
                    <p style="margin-left: -10px;">:</p>
                </div>
                <div class="col-7 col-md-7 col-sm-7 col-lg-7" style="margin-left: -21px;">
                    <div class="row">
                        <input type="date" id="promotion-periodbox"
                            [(ngModel)]="model.fromdate_promotionperiod" name="fromdate_promotionperiod" 
                            #fromdate_promotionperiod="ngModel"  />
                        <label style="color: white;">&nbsp; - &nbsp;</label>
                        <input type="date" id="promotion-periodbox"
                            [(ngModel)]="model.todate_promotionperiod" name="todate_promotionperiod"
                            #todate_promotionperiod="ngModel"  />
                    </div>


                </div>

            </div>
            <br/>
            <div class="row">
                <div class="col-2 col-md-2 col-sm-2 col-lg-2"></div>
                <div class="col-4 col-md-4 col-sm-4 col-lg-4">
                    <button id="save-btn" type="submit">Save</button>
                </div>
             <!--   <div class="col-4 col-md-4 col-sm-4 col-lg-4">
                    <button id="cancel-btn" (click)="close($event); false">Cancel</button>
                </div> -->
                <div class="col-2 col-md-2 col-sm-2 col-lg-2"></div>
             </div>
        </div>    
</div>
</form>  
</div>
<!--Dialouge box end-->