@import "_base";

* {
  font-size: 13px;
  color: white;
}
::ng-deep .allproductedit .mat-dialog-container {
  background:$po-order-form-bg;
  width: 880px;
  height: 586px;
  padding: 17px;
  overflow: hidden;
}
#text-cursor {
  cursor: text;
}
h2 {
  margin: 3px 3px 3px 5px;
  font-size: 20px;
  font-weight: bold;
}
#discountedit-secondlayer {
  background:$po-order-form-bg;
  height: 100%;
  width: 100%;
}
#disedit-icon {
  font-size: 35px;
  color: white;
  text-align: center;
}
#editselect-box {
  width: 220px;
  height: 35px;
  background:$po-order-form-bg;
  border: 1px solid  $header-bg;
  box-shadow: none;
}
#name-box {
  width: 220px;
  height: 35px;
  background:$po-order-form-bg;
  border: 1px solid  $header-bg;
  box-shadow: none;
}
#description-box {
  width: 220px;
  height: 75px;
  background:$po-order-form-bg;
  border: 1px solid  $header-bg;
  box-shadow: none;
  font-size: 12px;
}
#tax-box {
  width: 71px;
  height: 35px;
  background:$po-order-form-bg;
  border: 1px solid  $header-bg;
  box-shadow: none;
  margin-left: 114px;
}
#margin-box {
  width: 71px;
  height: 35px;
  background:$po-order-form-bg;
  border: 1px solid  $header-bg;
  box-shadow: none;
}
#price-box {
  width: 220px;
  height: 35px;
  background:$po-order-form-bg;
  border: 1px solid  $header-bg;
  box-shadow: none;
}
#addproductpic-box {
  height: 100px;
  width: 110px;
  text-align: center;
  background: #272e34;
  border: none;
  box-shadow: none;
}
#addpicture-icon {
  font-size: 40px;
  color: #51575c;
  text-align: center;
  margin: 30px;
}
#productcode-box {
  background:$po-order-form-bg;
  border: 1px solid  $header-bg;  
  width: 220px;
  height: 35px;
 // color: black;
}
#save-btn {
  width: 140px;
  height: 35px;
  background: $btn-bg;
  border: none;
  border-radius: 25px;

}
#cancel-btn {
  width: 140px;
  height: 35px;
  background: #ff0000;
  border: none;
}
