<div id="outer-div">
  <button  (click)="addNewCategory()" class="create-button">
    <span class="fas fa-plus"></span> Category 
  </button>

<button  (click)="addNewProduct()" class="create-button">
  <span class="fas fa-plus"></span> 
  Product 
</button>

<button  (click)="addpromotion('Add Discount','discount')" class="create-button">
  <span class="fas fa-plus"></span> Discount 
</button>

<button  (click)="addpromotion('Add Free Gift','freegift')" class="create-button">
  <span class="fas fa-plus"></span> Free Gift 
</button>

</div>     

<h3>Product List</h3> 

<div id="table-outer-div">
  <table class="table">
    <thead>
      <tr>
        <th>Product Image</th>
        <th>Product Code</th>
        <th>Product Name</th>
        <th>Category Name</th>
        <th>Vendor Name</th>
        <th>Actual Price / Unit</th>
        <th>Margin</th>
        <th>Tax</th>
        <th>Selling Price / Unit</th>
        <th>Edit</th>
        <th>Delete</th>


      </tr>
  </thead>
  <tbody *ngFor="let a of allproductlist; let i = index"> 
      <tr>
        <td>{{i}}</td>
        <td>{{a.prodcode}}</td>
        <td>{{a.productname}}</td>
        <td>{{a.categoryname}}</td>
        <td>{{a.vendorname}}</td>
        <td>{{a.price}}</td>
        <td>{{a.tax}}</td>
        <td>{{a.margin}}</td>
        <td>{{a.sellingprice}}</td>
        <td>
          <span>
            <span (click)="allproducteditcall(a.prodcode)" class="fas fa-pen mar-let-40px"></span>
              </span>
        </td>
        
        <td>
          <span>
            <span (click)="allproductdelete(a.prodcode)" class="fas fa-trash"></span>
              </span>
        </td>

      </tr>
     
    </tbody>
  </table>
</div>

