<div id="outer-div">
  <button  (click)="addNewCategory()" class="create-button">
    <span class="fas fa-plus"></span> Category 
  </button>

<button  (click)="addNewProduct()" class="create-button">
  <span class="fas fa-plus"></span> 
  Product 
</button>

<button  (click)="addpromotion('Add Discount','discount')" class="create-button">
  <span class="fas fa-plus"></span> Discount 
</button>

<button  (click)="addpromotion('Add Free Gift','freegift')" class="create-button">
  <span class="fas fa-plus"></span> Free Gift 
</button>

</div>     

<br/>

<h3>Product List</h3> 
<!--<a [routerLink]="['units']">Units</a> &nbsp; :: &nbsp;<a [routerLink]="['addunits']">addunits</a>
-->
<div id="table-outer-div">
  <table class="table">
    <thead>
      <tr>
        <th>Product Image</th>
        <th>Product Code</th>
        <th>Product Name</th>
        <th>Category Name</th>
        <th>Vendor Name</th>
        <th>Actual Price / Unit</th>
        <th>Margin</th>
        <th>Tax</th>
        <th>Selling Price / Unit</th>
      </tr>
  </thead>
  <tbody *ngFor="let a of allproductlist; let i = index"> 
      <tr>
        <td>{{i}}</td>
        <td>{{a.prodcode}}</td>
        <td>{{a.productname}}</td>
        <td>{{a.categoryname}}</td>
        <td>{{a.vendorname}}</td>
        <td>{{a.price}}</td>
        <td>{{a.tax}}</td>
        <td>{{a.margin}}</td>
        <td>{{a.sellingprice}} 
          <span class="edit-delete-icon" *ngIf="a.productname === a.productname">
            <span class="fas fa-pen mar-let-40px" (click)="allproducteditcall(a.prodcode)" ></span>
            <span class="fas fa-trash mar-let-30px" (click)="allproductdelete(a.prodcode)"></span>
          </span>
        </td>
      </tr>
     
    </tbody>
  </table>
</div>
<br/>
